body {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
